<div class="container centered">
  <h1 class="brand head">Login</h1>

  <%= form_for(:user, :html => { class: 'form' }) do |f| %>
    <%= f.label :username %>
    <%= f.text_field :username %>
    <br><br>
    <%= f.label :password %>
    <%= f.password_field :password %>
    <br><br>
    <%= f.submit "Login" %>
  <% end %>
  <p>or</p>

  <h2><%= button_to "Login with Google", '/auth/google_oauth2' %></h2>
  <p><a class="small main brand" href="/">Go Back</a></p>

</div>