<div class="container mx-auto my-auto">
  <%= render partial: "layouts/errors", locals: {object: @user} %>

  <h1 class="brand head">Sign Up</h1><br>

  <%= form_for(@user, :html => { class: 'form' }) do |f| %>
    <%= f.label :name %><br>
    <%= f.text_field :name %><br><br>
    
    <%= f.label :username %><br>
    <%= f.text_field :username %><br><br>
    
    <%= f.label :password %><br>
    <%= f.password_field :password %><br>
    <br>
    <%= f.submit "Create an Account" %>
  <% end %><h3></h3><br>

  <p><a class="black no_underline main brand" href="/">Go Back</a></p><br>
</div>