<div class="container centered">
  <h1 class="brand head">Welcome <%= @user.name.capitalize %>!</h1>

  <h2>Courses you have rated:</h2>
  <% @user.courses.each do |course| %>
    <h3> <%= course.title_with_number %></h3>
  <% end%>
  <br>

  <h2>Click to view or edit any of your ratings:</h2>

  <% @ratings.each do |rating| %>
    <% if authorized_edit?(rating) %>
      <p><a class="no_underline"href="/users/<%= rating.user_id %>/ratings/<%= rating.id %>">(<span class="bold underline"><%= rating.course.title_with_number %></span>)
      <%= rating.content %></span></a></p>
    <% end%>
  <% end %>
  <br>
</div>
