<h1 class="brand head">Recent Course Ratings</h1>

<%= form_for(:ratings, :html => { class: 'form' }, method: 'get') do %>
  <%= label_tag(:course_id, "Filter By Course:") %>
  <%= collection_select(:rating, :course_id, Course.all, :id, :title, { include_blank: '' }) %>
  <br>
  <%= submit_tag("Filter") %>
<% end %>

<br><br>

<% if @ratings.blank? %>
  <h2>No ratings yet.</h2>
  <p class="main brand black">Submit a new rating <a class="no_underline main brand" style="color:#4ba4c7" href="/users/<%= current_user.id %>/ratings/new">here</a>.</p>
<% else %>
  <% @ratings.each do |rating| %>
    <div>
      <h2><%= rating.course.full_title %></h2>

      <h3><% rating.stars.times do  %>
        <%= "⭑" %>
      <% end %></h3>
      
      <%= rating.content_with_author %>
    </div>
  <% end %>
<% end %>

<br>
