<div class="container centered">
  <h1 class="brand head">New Rating</h1>

        <h2><%= link_to "Course", new_course_path %></h2>


  <%= form_for(@rating) do |f| %>
    <%= f.label :stars %>
    <%= f.select(:stars, ['1', '2', '3', '4', '5'], {include_blank: ""}) %>
    <br><br>
    <%= f.label :content, "Tell us about this course:" %><br>
    <%= f.text_field :content %>
    <br><br>
    <%= f.submit "Submit Rating" %>

  <% end %>
</div>