<div class="container centered">
  <h1 class="brand head">New Rating</h1>

  <%= form_for(@rating, :html => { class: 'form' }) do |f| %>

    <%= f.label :course %>
    <%= f.collection_select :course_id, Course.all, :id, :title_with_number %>

    <p><a class="small main brand" href="/courses/new">(Click <span style = "color:#4ba4c7">here</span> if you don't see your course listed above.)</a></p>

    <%= f.label :stars %>
    <%= f.select(:stars, ['1', '2', '3', '4', '5'], {include_blank: ""}) %>
    <br><br>
    <%= f.label :content, "Tell us what you thought about this course:" %><br>
    <%= f.text_field :content %>
    <br><br>
    <%= f.submit "Submit Rating" %>
    
  <% end %><br>
</div>