<div class="container">
  <h1 class="brand subhead">Rating from <%= @rating.created_at.strftime("%A, %d %b %Y") %></h1>
  <h2>You gave <span class="plain"><%= @rating.course.full_title %></span> <%= @rating.stars %> stars.</h2>
  <h4><% @rating.stars.times do  %>
        <%= "⭑" %>
  <% end %></h4>
  <p>"<%= @rating.content %>"</p>

  <br>
  
  <p><a class="small main brand" href="/users/<%= @rating.user_id %>/ratings/<%= @rating.id %>/edit">Edit</a></p>
  <p>-------------</p>
  <p class="small main brand"><%= link_to "Delete", user_rating_path(@rating.user, @rating), :method => "delete", :class => "destroy", :style=>'color:black;text-decoration:none;' %><p>
  <p>-------------</p>
  <p><a class="small main brand" href="/users/<%= @rating.user_id %>">Go Back</a></p>

</div>
