<div class="container centered">
  <h1 class="brand head">Rating #<%= @rating.id %></h1>
  <h2>You gave <span class="plain"><%= @rating.course.full_title %></span> <%= @rating.stars %> stars.</h2>
  <h4><% @rating.stars.times do  %>
        <%= "⭑" %>
  <% end %></h4>
  <p>"<%= @rating.content %>"</p>

  <p><a class="small main brand" href="/users/<%= @rating.user_id %>/ratings/<%= @rating.id %>/edit">Edit this Rating</a></p>
  <p><a class="small main brand" href="/">Go Back</a></p>

</div>
