<div class="container mx-auto my-auto"> 
  <%= render partial: "layouts/errors", locals: {object: @course} %>

  <h1 class="brand head">Add a Course</h1>

  <p class="small main brand">(If you cannot remember course details, please refer to <a target="_blank" class="small main brand" style="color:#4ba4c7 !important" href="https://public.enroll.wisc.edu/search?term=0000">this</a> website.)</p>
  <br>

  <%= form_for(@course, :html => { class: 'form' }) do |f| %>

    <%= f.label :subject, "Subject" %><br>
    <%= f.collection_select :subject_id, Subject.alpha, :id, :name, { include_blank: '' } %>
    <br><br>
    <%= f.label :number, "Number (3-digit code)" %>
    <%= f.text_field :number, placeholder: "i.e. 252" %>
    <br><br>
    <%= f.label :title %>
    <%= f.text_field :title, placeholder: "i.e. Introduction To Computer Engineering" %>
    <br><br>   
    <%= f.label :description %>
    <%= f.text_field :description, placeholder: "i.e. Logic components built with transistors, rudimentary Boolean algebra..." %>
    <br><br>
    <%= f.submit "Add Course" %>

  <% end %><br><br>

  <p><a class="small main brand" href="/ratings/new">Go Back</a></p>
</div>