<div class="container centered">
  <h1 class="brand head">Add a Course</h1>

  <%= form_for(@course, :html => { class: 'form' }) do |f| %>

    <%= f.label :subject %><br>
    <%= f.collection_select :subject_id, Subject.all, :id, :name %>
    <br><br>
    <%= f.label :number, "Number (3-digit code)" %>
    <%= f.text_field :number %>
    <br><br>
    <%= f.label :title %>
    <%= f.text_field :title %>
    <br><br>   
    <%= f.label :description %>
    <%= f.text_field :description %>
    <br><br>
    <%= f.submit "Add Course" %>

  <% end %>

  <p><a class="small main brand" href="/ratings/new">Go Back</a></p>
</div>