<h1 class="brand subhead"><%= @course.full_title %></h1>
<p><%= @course.description %></p>
<br>

<% if @course.ratings.blank? %>
  <h2>No ratings yet.</h2>
  <p class="main brand black">Submit a new rating <a class="no_underline main brand" style="color:#4ba4c7" href="/users/<%= current_user.id %>/ratings/new">here</a>.</p>

<% else %>
  <h2>Ratings:</h2>
  <% @course.ratings.each do |rating| %>
    <h3><% rating.stars.times do  %>
      <%= "⭑" %>
    <% end %></h3>
    <p>"<%= rating.content %>" - <%= rating.user.name.capitalize %></p>   
  <% end %>
<% end %>

<br>

<p><a class="small main brand" href="/ratings">Go Back</a></p>