<div class="container mx-auto my-auto"> 
  <h1 class="brand subhead"><%= @course.full_title %></h1><br>
  <p><%= @course.description %></p>
  <br>

  <% if @course.ratings.blank? %>
    <h3>No ratings yet.</h3>
    <p class="main brand black">Submit a new rating <a class="no_underline main brand" style="color:#4ba4c7" href="/users/<%= current_user.id %>/ratings/new">here</a>.</p>

  <% else %>
    <h4 class="classic">Ratings:</h4><br>
    <% @course.ratings.sort_by(&:updated_at).reverse.each do |rating| %>
      <h4 class="blue"><% rating.stars.times do  %>
        <%= "⭑" %>
      <% end %></h4><br>

      <p><%= rating.content_with_author %></p>   
    <% end %>
  <% end %>

  <br>
  <p><a class="black no_underline main brand" href="/ratings">Go Back</a></p>
</div>