<% if !logged_in? %>
  <div class="nav">
    <ul>
      <li><%= link_to "Login", login_path %></li>
      <li><%= link_to "Sign Up", signup_path %></li>
      <li style="float:left"><a class="main brand" href="/">RateMyCourses</a></li>
    </ul>
  </div>
<% else %>
  <div class="nav">
    <ul>
      <li><%= link_to "Logout", logout_path, method:"delete"%></li>
      <li><%= link_to "Rate", logout_path %></li>
      <li><%= link_to "Review", logout_path %></li>
      <li style="float:left"><a class="main brand" href="/">RateMyCourses</a></li>
    </ul>
  </div>
<% end %>