<!DOCTYPE html>
<html>
  <head>
    <title>RateMyCourses</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= favicon_link_tag 'cap.png' %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v5.15.1/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" />
  
  </head>

  <body>
    <%= render 'layouts/navbar' %>
    <br>

    <p class="error"><%= @error %></p>
    
    <div class="myScrollableDiv">
      <div class="container">
        <% if flash[:error] %>
          <p class="error"><%= flash[:error] %></p>
        <% end %>

        <% if flash[:message] %>
          <p class="success"><%= flash[:message] %></p>
        <% end %>

        <%= yield %>
      </div>
    </div>
  </body>
</html>
